Repository web-lsp/weblsp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, crt:csslsrs, crt:weblsp, pkg:csslsrs, pkg:vscode, devops

.github/labeler.yml:

# See https://github.com/actions/labeler
"documentation":
  - docs/**

"crt:csslsrs":
  - crates/csslsrs/**

"crt:weblsp":
  - crates/weblsp/**

"pkg:csslsrs":
  - packages/csslsrs/**

"pkg:vscode":
  - packages/vscode/**

"devops":
  - .github/**
  - .vscode/**
  - .zed/**
  - .editorconfig
  - .gitignore
  - justfile
  - pnpm-workspace.yaml

chore: lockfile
  package.json
  pnpm-lock.yaml
Labels: none

fix(format): Formatting setup
  .editorconfig
  .vscode/settings.json
  crates/weblsp/README.md
Labels: crt:weblsp, devops

chore(github): issues and pr templates
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: devops

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

Add MIT LICENSE
  LICENSE
Labels: none

refactor(csslsrs): Clean up some colors related code
  Cargo.lock
  crates/csslsrs/Cargo.toml
  crates/csslsrs/src/features/color_parser.rs
  crates/csslsrs/src/features/colors.rs
Labels: crt:csslsrs

chore: lockfile
  Cargo.lock
Labels: none

fix: use resolver 2
  Cargo.toml
Labels: none

fix: use get
  crates/csslsrs/src/features/colors.rs
Labels: crt:csslsrs

fix: label ci & readme logos path
  .github/workflows/label.yml
  crates/csslsrs/README.md
  crates/weblsp/README.md
Labels: crt:csslsrs, crt:weblsp, devops

refactor(csslsrs): Clean up some colors related code (#3)
  Cargo.lock
  Cargo.toml
  crates/csslsrs/Cargo.toml
  crates/csslsrs/src/features/color_parser.rs
  crates/csslsrs/src/features/colors.rs
Labels: crt:csslsrs

perf(cargo): Try some config flags for perf
  Cargo.toml
Labels: none

chore: keep debug info
  Cargo.toml
Labels: none

debug for wasm
  .github/workflows/benchmark.yaml
  Cargo.toml
  justfile
Labels: devops

fix: rename cargo profile
  Cargo.toml
  justfile
Labels: devops

fix: workflow name
  .github/workflows/benchmark.yaml
Labels: devops

fix: only run wasm-opt in release mode
  justfile
Labels: devops

fix: whitespace
  justfile
Labels: devops
