Repository web-lsp/weblsp, pull requests merged in 2024-12, with the labels that each got.

#4 perf(cargo): Try some config flags for perf
  .github/workflows/benchmark.yaml
  Cargo.toml
  justfile
  packages/benchmark-wasm/benchmarks/colors.bench.ts
  packages/benchmark-wasm/benchmarks/folding_ranges.bench.ts
  packages/benchmark-wasm/benchmarks/hover.bench.ts
  packages/benchmark-wasm/benchmarks/hover.ts
  packages/benchmark-wasm/codspeed.ts
  packages/benchmark-wasm/index.ts
  packages/benchmark-wasm/package.json
  packages/benchmark-wasm/vitest.config.ts
  pnpm-lock.yaml
Labels: devops

#6 fix(wasm_hover): remove json serialization
  crates/csslsrs/src/features/hover.rs
  packages/benchmark-wasm/benchmarks/hover.bench.ts
Labels: crt:csslsrs

#8 feat(language_service): Allow users to add custom css custom data
  Cargo.lock
  crates/csslsrs/benches/features/color.rs
  crates/csslsrs/benches/features/folding.rs
  crates/csslsrs/benches/features/hover.rs
  crates/csslsrs/src/css_data.rs
  crates/csslsrs/src/features/colors.rs
  crates/csslsrs/src/features/folding.rs
  crates/csslsrs/src/features/hover.rs
  crates/csslsrs/src/service.rs
  crates/csslsrs/src/store.rs
  crates/csslsrs/tests/colors.rs
  crates/csslsrs/tests/folding.rs
  crates/csslsrs/tests/hover.rs
  crates/weblsp/src/css.rs
  crates/weblsp/src/notifications.rs
  packages/csslsrs/test/features/hover.test.ts
Labels: crt:csslsrs, crt:weblsp, pkg:csslsrs

#9 feat(wasm): Add support for language service
  crates/csslsrs/benches/features/color.rs
  crates/csslsrs/benches/features/folding.rs
  crates/csslsrs/benches/features/hover.rs
  crates/csslsrs/src/converters/from_proto.rs
  crates/csslsrs/src/converters/line_index.rs
  crates/csslsrs/src/converters/mod.rs
  crates/csslsrs/src/converters/to_proto.rs
  crates/csslsrs/src/features/colors.rs
  crates/csslsrs/src/features/folding.rs
  crates/csslsrs/src/features/hover.rs
  crates/csslsrs/src/service.rs
  crates/csslsrs/src/store.rs
  crates/csslsrs/src/wasm_text_document.rs
  crates/csslsrs/tests/colors.rs
  crates/csslsrs/tests/folding.rs
  crates/csslsrs/tests/hover.rs
  crates/weblsp/src/css.rs
  crates/weblsp/src/notifications.rs
  crates/weblsp/src/requests.rs
  justfile
  packages/benchmark-wasm/benchmarks/colors.bench.ts
  packages/benchmark-wasm/benchmarks/folding_ranges.bench.ts
  packages/benchmark-wasm/benchmarks/hover.bench.ts
  packages/csslsrs/src/index.ts
  packages/csslsrs/test/features/colors.test.ts
  packages/csslsrs/test/features/folding.test.ts
  packages/csslsrs/test/features/hover.test.ts
Labels: enhancement, crt:csslsrs, crt:weblsp, pkg:csslsrs, devops

#11 feat(tests): Add e2e tests for language server
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  crates/weblsp/src/css.rs
  crates/weblsp/src/main.rs
  crates/weblsp/src/notifications.rs
  crates/weblsp/src/requests.rs
  crates/weblsp/src/response.rs
  crates/weblsp/src/server.rs
  justfile
  packages/benchmark-wasm/benchmarks/hover.bench.ts
  packages/benchmark-wasm/vitest.config.ts
  packages/csslsrs/package.json
  packages/csslsrs/test/features/colors.test.ts
  packages/csslsrs/test/features/folding.test.ts
  packages/csslsrs/test/features/hover.test.ts
  packages/language-server-tests/fixture/.gitkeep
  packages/language-server-tests/package.json
  packages/language-server-tests/tests/css/colors.test.ts
  packages/language-server-tests/tests/css/folding.test.ts
  packages/language-server-tests/tests/css/hover.test.ts
  packages/language-server-tests/tests/init.test.ts
  packages/language-server-tests/tests/server.ts
  packages/language-server-tests/tests/setup.ts
  packages/language-server-tests/tests/shutdown.test.ts
  packages/language-server-tests/tsconfig.json
  packages/language-server-tests/vitest.config.ts
  pnpm-lock.yaml
Labels: crt:weblsp, pkg:csslsrs, devops

#12 feat: use custom-data package instead of downloading from GitHub
  .github/workflows/ci.yaml
  .gitignore
  crates/csslsrs/src/css_data.rs
  crates/csslsrs/src/features/hover.rs
  crates/csslsrs/src/service.rs
  crates/csslsrs/tests/hover.rs
  justfile
  package.json
  packages/vscode/launch.json
  packages/vscode/tsconfig.json
  pnpm-lock.yaml
Labels: crt:csslsrs, pkg:vscode, devops

#15 feat(benchmark): Add benchmark for full language server
  .github/workflows/benchmark.yaml
  justfile
  packages/language-server-tests-benchmarks/README.md
  packages/language-server-tests-benchmarks/fixture/colors_benchmark.css
  packages/language-server-tests-benchmarks/fixture/folding_benchmark.css
  packages/language-server-tests-benchmarks/fixture/hover_benchmark.css
  packages/language-server-tests-benchmarks/package.json
  packages/language-server-tests-benchmarks/src/benchmarks/css/colors.bench.ts
  packages/language-server-tests-benchmarks/src/benchmarks/css/folding.bench.ts
  packages/language-server-tests-benchmarks/src/benchmarks/css/hover.bench.ts
  packages/language-server-tests-benchmarks/src/server.ts
  packages/language-server-tests-benchmarks/src/tests/css/colors.test.ts
  packages/language-server-tests-benchmarks/src/tests/css/folding.test.ts
  packages/language-server-tests-benchmarks/src/tests/css/hover.test.ts
  packages/language-server-tests-benchmarks/src/tests/init.test.ts
  packages/language-server-tests-benchmarks/src/tests/setup.ts
  packages/language-server-tests-benchmarks/src/tests/shutdown.test.ts
  packages/language-server-tests-benchmarks/tsconfig.json
  packages/language-server-tests-benchmarks/vitest.config.bench.ts
  packages/language-server-tests-benchmarks/vitest.config.ts
  packages/language-server-tests/fixture/.gitkeep
  packages/language-server-tests/tests/setup.ts
  pnpm-lock.yaml
Labels: devops

#16 refactor(lsp): remove useless logging & methods
  crates/weblsp/src/main.rs
  crates/weblsp/src/notifications.rs
  crates/weblsp/src/requests.rs
  packages/vscode/package.json
  packages/vscode/src/extension.ts
Labels: crt:weblsp, pkg:vscode

#13 refactor(hover): formating & deprecated/nonstandard
  crates/csslsrs/src/features/hover.rs
  crates/csslsrs/tests/hover.rs
Labels: crt:csslsrs

#10 feat(csslsrs): get document symbols
  Cargo.lock
  crates/csslsrs/Cargo.toml
  crates/csslsrs/README.md
  crates/csslsrs/benches/bench_main.rs
  crates/csslsrs/benches/features/document_symbols.rs
  crates/csslsrs/benches/features/mod.rs
  crates/csslsrs/src/features/document_symbols.rs
  crates/csslsrs/src/lib.rs
  crates/csslsrs/src/service.rs
  crates/csslsrs/tests/document_symbols.rs
  crates/weblsp/Cargo.toml
  crates/weblsp/src/css.rs
  crates/weblsp/src/server.rs
  packages/benchmark-wasm/benchmarks/document_symbols.bench.ts
  packages/language-server-tests-benchmarks/fixture/document_symbols.css
  packages/language-server-tests-benchmarks/src/benchmarks/css/document_symbols.bench.ts
  packages/language-server-tests-benchmarks/src/tests/css/documentSymbols.test.ts
  packages/language-server-tests-benchmarks/src/tests/init.test.ts
Labels: enhancement, crt:csslsrs, crt:weblsp

#20 fix(hover): at rules support & refactor
  crates/csslsrs/src/features/hover.rs
  crates/csslsrs/tests/hover.rs
Labels: crt:csslsrs

#21 doc: contributing & security
  .github/workflows/benchmark.yaml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  crates/csslsrs/README.md
  crates/csslsrs/src/service.rs
  crates/weblsp/README.md
  crates/weblsp/src/css.rs
  crates/weblsp/src/notifications.rs
  justfile
  packages/benchmark-wasm/README.md
  packages/benchmark-wasm/package.json
  packages/csslsrs/README.md
  packages/csslsrs/package.json
  packages/ls-tests-benchmarks/README.md
  packages/ls-tests-benchmarks/fixture/colors_benchmark.css
  packages/ls-tests-benchmarks/fixture/document_symbols.css
  packages/ls-tests-benchmarks/fixture/folding_benchmark.css
  packages/ls-tests-benchmarks/fixture/hover_benchmark.css
  packages/ls-tests-benchmarks/package.json
  packages/ls-tests-benchmarks/src/benchmarks/css/colors.bench.ts
  packages/ls-tests-benchmarks/src/benchmarks/css/document_symbols.bench.ts
  packages/ls-tests-benchmarks/src/benchmarks/css/folding.bench.ts
  packages/ls-tests-benchmarks/src/benchmarks/css/hover.bench.ts
  packages/ls-tests-benchmarks/src/server.ts
  packages/ls-tests-benchmarks/src/tests/css/colors.test.ts
  packages/ls-tests-benchmarks/src/tests/css/documentSymbols.test.ts
  packages/ls-tests-benchmarks/src/tests/css/folding.test.ts
  packages/ls-tests-benchmarks/src/tests/css/hover.test.ts
  packages/ls-tests-benchmarks/src/tests/init.test.ts
  packages/ls-tests-benchmarks/src/tests/setup.ts
  packages/ls-tests-benchmarks/src/tests/shutdown.test.ts
  packages/ls-tests-benchmarks/tsconfig.json
  packages/ls-tests-benchmarks/vitest.config.bench.ts
  packages/ls-tests-benchmarks/vitest.config.ts
  packages/vscode/README.md
  packages/vscode/package.json
  packages/vscode/src/extension.ts
  pnpm-lock.yaml
Labels: crt:csslsrs, crt:weblsp, pkg:csslsrs, pkg:vscode, devops
